*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
   font-family: "Norse";
   src: url("../fonts/Norse-Bold.otf");
}

:root {
   --title-bg: rgb(0,0,0,.8);
   --font: "Norse"
}



.container{
   display: grid;
   grid-template-columns: 3fr 5fr;
   height: 100vh;
}

.header {
   /* background-color: greenyellow; */
   background-image: url('../img/background.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.header .wrapper-container {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding-top: 250px;
   padding-bottom: 10px;
}

.title {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--title-bg);
   width: 100%;
   padding: 15px 5px;
   gap: 10px;
}

.logo {
   height: 120px;
}

.title p {
   font-size: 100px;
   color: #FFF;
   font-family: var(--font);
}

.credit {
   /* background-color: gold; */
   color: #FFF;
   font-size: 18px;
}

.credit a {
   text-decoration: none;
   color: #FFF;
}


.main {
   background-color: tomato;
}